 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   width: 100%;
   background: #fff;
   height: 100vh;
 }
 .main-container {
   width: 100%;
   height: 100%;
 }

  

/* General */
.button:hover {
  background-color: #fff;
  color: #55198b;
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
  text-decoration: none;
}

.button-link {
  text-decoration: none;
}

.button {
  background-color: #55198b;
  border: 1px solid #55198b;
  color: #fff;
  
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 22px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  outline: none;
  margin-top: 3.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.heading {
  margin: 2rem 0;
  font-family: "Varela Round", sans-serif;
  color: black;
}

/* Media Queries */
/* 1150 Breakpoint */
@media screen and (max-width: 1150px) {
  .home-container {
    flex-direction: column;
  }
  .content-container {
    padding-top: 5rem;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .svg-container {
    width: 100vw;
  }
}

/*900 Mobile Nav Version */

@media screen and (max-width: 900px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    position: absolute;
    top: 9vh;
    text-align: center;
    align-items: center;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links.active {
    background: rgba(255, 255, 255, 0.911);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: relative;
    margin: 0 1rem;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-links .anchor {
    display: block;
    line-height: 9.1vh;
    width: 100vw;
    margin: 0.4rem;
  }

  .anchor.active {
    color: white;
    font-weight: 800;
    border: none;
    background: rgba(0, 0, 0, 0.534);
  }

  .nav-links.active .anchor:hover {
    color: black;
  }
  .skills-container .heading{
    margin-top: 10rem;
   
  }
  .skills-container .techs li{
    margin: .8rem .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
}

/* 700 */

@media screen and (max-width: 700px) {
  .svg-container {
    margin-top: 1.5rem;
    width: 50vw;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .svg {
    height: 60%;
  }
}

/* 550 */
@media screen and (max-width: 550px) {
  .content-container {
    font-size: 0.7rem;
  }

  .main-content {
    font-size: 2rem;
  }

  .skill-content {
    margin: 0.6rem 0;
    font-size: 1.2rem;
    
  }

  .hand {
    font-size: 1.8rem;
  }

  .welcome-content {
    font-size: 0.7rem;
  }
}

/* 500 */
@media screen and (max-width: 500px) {
  .svg {
    height: 40%;
  }
}

/* 415 */

@media screen and (max-width: 415px) {
  .skill-content {
    font-size: 1rem;
  }
}

/* 395*/

@media screen and (max-width: 395px) {
  .heading {
    font-size: 1.2rem;
  }
  .button {
    font-size: 0.8rem;
  }
}